 h1{
          font-family: arial, Helvetica, sans-serif;
 text-align:center;
       }
h3 {
            font-family: arial, Helvetica, sans-serif;
      color:red;

  }
p{
  font-family:Helvetica, sans-serif;
 
 
  }
button {  background-color: black; border: none;  
  color: white;  padding: 10px 20px;  
  display: inline-block;  font-size: 10px;}

 * {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  body {
    color: black;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .tag-list {
    margin: 30px auto ;
    width: 450px;

  }
   h2 {
    font-size: 20px;
    margin-bottom: 26px;
    }
 ul li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
  }
   ul li a {
    background-color: blue;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 4px 10px 3px;
    text-decoration: none;
    transition: 0.3s background-color;
  }
