 h1{
          font-family: arial, Helvetica, sans-serif;
 text-align:center;
       }
h3 {
            font-family: arial, Helvetica, sans-serif;
      color:red;

  }
p{
  font-family:Helvetica, sans-serif;
 
 
  }
button {  background-color: black; border: none;  
  color: white;  padding: 10px 20px;  
  display: inline-block;  font-size: 10px;}

 * {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  body {
    color: black;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .tag-list {
    margin: 30px auto ;
    width: 450px;

  }
   h2 {
    font-size: 20px;
    margin-bottom: 26px;
    }
 ul li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
  }
   ul li a {
    background-color: blue;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 4px 10px 3px;
    text-decoration: none;
    transition: 0.3s background-color;
  }


  .invite {
    background-color: #f2f2f2;
    margin: 20px auto;
    padding: 30px 0 100px;
    text-align: center;
    width: 870px;
  }
  .invite .icon {
    border: 2px solid #5ac6d0;
    border-radius: 50%;
    display: inline-block;
    height: 56px;
    margin-bottom: 35px;
    line-height: 64px;
    text-align: center;
    width: 56px;
  }
  .invite .icon i {
    color: #5ac6d0;
    font-size: 24px;
  }
  .invite h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .invite .info {
    margin-bottom: 25px;
  }
  .invite form .email {
    margin-bottom: 16px;
  }
  .invite form input[type=email] {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: 17px;
    padding: 20px 10px;
    width: 360px;
  }
  .invite form button {
    background-color: blue;
    border: 1px solid #70cbce;
    border-radius: 4px;
    font-size:9px;
    color: white;
    cursor: pointer;
    height: 60px;
    min-height: 60px;
    padding: 0 30px;
    transition: 0.3s all;
  }
  .invite form button:hover {
    background-color: #de4a1e;
    border: 1px solid #de4a1e;
  }
.offer {
    background: url(https://cdn.glitch.global/e53d98f1-abc2-47c3-9701-96a4b6808b82/facebook_cover_coffee_5.jpg?v=1709516418891);
     Background-position: left top;
   background-rep
    color: white;
    padding: 80px 0 60px;
    text-align: center;
    width: 100%;
  }
  .offer h2 {
    font-weight: normal;
    margin-bottom: 30px;
  }
  .offer .info {
    margin-bottom: 30px;
  }
  .offer .btn a {
    box-shadow: inset 0px 0px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #e4553f 5%, #d83f2e 100%);
    border-radius: 4px;
    border: 1px solid #942911;
    color: white;
    display: inline-block;
    font-size: 16px;
    opacity: 1;
    padding: 16px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    transition: 0.3s all;
  }
  .offer .btn a:hover {
    opacity: 0.8;
  }